# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage
config/local.js
.eslintcache
.nyc_output

# production
/dist

# commitizen as hook causes problems for some users
.husky/prepare-commit-msg

# misc
.DS_Store
.env
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package scope registries
.npmrc

# MikroORM cache
/temp

.idea
.vscode
